@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Handjet:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

/* test  */
body {
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 117, 206)), color-stop(50%, rgb(44, 161, 164)), to(rgb(0, 117, 206)));
  background: linear-gradient(to right, rgb(0, 117, 206) 0%, rgb(44, 161, 164) 50%, rgb(0, 117, 206) 100%);
}

h1 {
  font-family: "Bad Script", serif;
  text-align: center;
  margin: 50px auto;
  text-shadow: 21px 16px 5px rgba(28, 110, 164, 0.52);
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.1rem;
    margin: 10px auto;
  }
}

iframe {
  width: 100%;
  z-index: 1000;
  position: sticky;
  top: 0;
  height: 50px;
}

button {
  z-index: 1000;
  width: 250px;
  color: rgb(255, 255, 255);
  font-size: 21px;
  line-height: 21px;
  padding: 9px;
  margin: 20px auto;
  border-radius: 16px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(28, 110, 164)), color-stop(50%, rgb(35, 136, 203)), to(rgb(20, 78, 117)));
  background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.48) 10px 5px 15px 0px;
          box-shadow: rgba(0, 0, 0, 0.48) 10px 5px 15px 0px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}
button :hover {
  background: red;
}

nav {
  min-width: 100%;
  margin: 0 auto;
  background: transparent;
  position: sticky;
  top: 0px;
  z-index: 100;
  font-family: "Merriweather", serif;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  max-width: 100%;
  background: transparent;
  z-index: 100;
}
nav ul li {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}
nav ul::after {
  content: "";
  display: table;
  clear: both;
}
nav a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
  position: sticky;
  z-index: 100;
}
nav a:hover {
  color: orange;
  border-bottom: 2px solid gold;
}
nav > ul li:hover .sous {
  display: block;
}
nav .sous {
  display: none;
  -webkit-box-shadow: 0px 1px 2px #ccc;
          box-shadow: 0px 1px 2px #ccc;
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 117, 206)), color-stop(75%, rgb(44, 161, 164)), to(rgb(0, 117, 206)));
  background: linear-gradient(to right, rgb(0, 117, 206) 0%, rgb(44, 161, 164) 75%, rgb(0, 117, 206) 100%);
  position: absolute;
  width: 100%;
  z-index: 100;
}
nav .sous li {
  float: none;
  width: 100%;
  text-align: left;
}
nav .sous a {
  padding: 10px;
  border-bottom: none;
}
nav .sous a:hover {
  border-bottom: none;
  background-color: RGBa(200, 200, 200, 0.1);
}
nav .deroulant > a::after {
  content: " ▼";
  font-size: 12px;
  z-index: 100;
}
@media screen and (max-width: 400px) {
  nav {
    font-size: 0.8rem;
  }
}

#navSocial #social {
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  right: 25px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 1;
}
#navSocial #social a {
  color: black;
}
#navSocial #social a:hover {
  color: blueviolet;
}

/* Styles de base pour la navigation */
/* Icône hamburger */
.hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Media query pour petits écrans */
@media (max-width: 600px) {
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
    width: 50%;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 1rem;
  }
  nav ul.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul li {
    width: 100%;
  }
  nav a {
    display: block;
    padding: 0.5rem;
    width: 100%;
    text-align: left;
  }
}
.mystere h2 {
  text-align: center;
  color: black;
  margin: 20px auto;
  font-size: 2rem;
}
.mystere p {
  font-size: 1.5rem;
}
.mystere #nombreimage {
  margin: 10px;
  font-size: 1.2rem;
  text-align: center;
}
.mystere main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mystere form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mystere .containerPhoto {
  border: 10px solid white;
  width: 400px;
  height: 600px;
  /* background: rgb(60, 191, 238); */
  /* background: "src:"./lh1634-2.webp"; */
  margin: 20px;
}
.mystere label {
  margin: 10px;
  font-size: 1.2rem;
  text-align: center;
}
.mystere input {
  min-width: 300px;
  height: 40px;
  border: 0;
  border-radius: 20px;
  font-size: 1.2rem;
  text-align: center;
  -webkit-box-shadow: inset 2px 2px 5px rgb(0, 0, 0);
          box-shadow: inset 2px 2px 5px rgb(0, 0, 0);
}
.mystere input :focus {
  border: none;
  border: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.container .containerPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  width: 320px;
  height: 480px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* filter: blur(1px); */
}
.container .containerPhoto .imgIndex {
  display: block;
  width: 320px;
  height: 480px;
  position: absolute;
  text-decoration: none;
}
.container .titrePhoto {
  color: rgb(26, 26, 26);
  margin: 20px;
  text-align: center;
}
.container .titrePhoto:hover {
  color: rgb(26, 26, 26);
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .containerPhoto {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

#imgGoutte {
  min-width: 100%;
  height: 100%;
  /* background: red; */
  background: url(./img/21-01-10-lh6608.jpg) center/cover;
  -webkit-box-shadow: 21px 16px 45px 5px rgba(0, 0, 0, 0.52);
          box-shadow: 21px 16px 45px 5px rgba(0, 0, 0, 0.52);
}

#imgVoyage {
  min-width: 100%;
  height: 100%;
  background: url(./img/lh3460.jpg) center/cover;
  -webkit-box-shadow: 21px 16px 45px 5px rgba(0, 0, 0, 0.52);
          box-shadow: 21px 16px 45px 5px rgba(0, 0, 0, 0.52);
}

#imgMystère {
  min-width: 100%;
  height: 100%;
  background: url(./img/lh2510-avec-accentuation-bruit.jpg) center/cover;
  -webkit-box-shadow: 21px 16px 45px 5px rgba(0, 0, 0, 0.52);
          box-shadow: 21px 16px 45px 5px rgba(0, 0, 0, 0.52);
}

.bande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  height: 70px;
  background: rgba(0, 0, 255, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bande p {
  text-align: right;
  padding: 10px;
}
.bande p a {
  color: black;
  text-align: left;
  padding: 10px;
}
.bande p a :hover {
  color: blueviolet;
}
.bande ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 150px 20px 0;
  width: 150px;
}
.bande ul a {
  color: black;
}
.bande ul a :hover {
  color: blueviolet;
}

#boutique {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  margin: 20px;
}

table {
  border: 4px solid rgba(85, 85, 85, 0.1529411765);
  background-color: rgba(85, 85, 85, 0.2039215686);
  min-width: 400px;
  text-align: center;
  border-collapse: collapse;
  margin: 30px;
}

table td,
table th {
  border: 1px solid #555555;
  padding: 5px 10px;
}

table tbody td {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}

table td:nth-child(even) {
  background: #398aa4;
}

table.steelBlueCols tfoot td {
  font-size: 13px;
}

table.steelBlueCols tfoot .links {
  text-align: right;
}

table.steelBlueCols tfoot .links a {
  background: #ffffff;
  color: #398aa4;
  padding: 2px 8px;
  border-radius: 5px;
}

.containerSpreat {
  display: block;
  background: red;
  max-width: 75%;
  height: 200px;
  background: url(./img/spreatshirt.jpg) center/cover;
}
.containerSpreat a {
  display: block;
  width: 100%;
  height: 200px;
  position: absolute;
  text-decoration: none;
}
.containerSpreat a .imgIndex {
  display: block;
  width: 320px;
  height: 480px;
  position: absolute;
  text-decoration: none;
}

#mainContact {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  height: 300px;
  margin: 150px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 200px auto;
}
#mainContact input {
  width: 90%;
  height: 40px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
  z-index: 1;
  position: sticky;
}
#mainContact input :hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: red;
}
#mainContact textarea {
  width: 90%;
  height: 200px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
}
#mainContact textarea :hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: red;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  min-width: 250px;
  gap: 10px;
  padding: 20px;
}
.gallery-container img {
  width: 90%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.gallery-container img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.photo-container img {
  max-width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 21px 16px 45px 5px rgba(0, 0, 0, 0.52);
          box-shadow: 21px 16px 45px 5px rgba(0, 0, 0, 0.52);
}
.photo-container p {
  font-size: 1.2rem;
  margin: 10px 0 5px;
  color: #333;
}
.photo-container h3 {
  font-size: 1rem;
  color: #333;
  margin: 20px;
}

.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}
.filter-container button,
.filter-container select {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}
.filter-container button:hover,
.filter-container select:hover {
  background-color: #f0f0f0;
}
.filter-container button select,
.filter-container select select {
  font-size: 1rem;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none; /* Masqué par défaut */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
}
.lightbox -img {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid white;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001;
}
.close:hover {
  color: #f00;
}

/* Conteneur du zoom */
.zoom-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
  display: none; /* Masqué par défaut */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  overflow: hidden; /* Empêche les débordements */
}

/* Image agrandie */
.zoom-img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain; /* Adapte l'image sans la déformer */
  border-radius: 8px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* Transition fluide pour l'agrandissement */
}

/* Fermeture en cliquant sur le fond */
.zoom-container:after {
  content: "✕"; /* Symbole de fermeture */
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.zoom-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  border: none;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  padding: 5px;
  border-radius: 10%;
  z-index: 1001;
  width: 50px;
}

.zoom-arrow:hover {
  background: rgb(255, 255, 255);
}

#prev-photo {
  left: 10px;
}

#next-photo {
  right: 10px;
}/*# sourceMappingURL=style.css.map */