.container {
  display: flex;
  justify-content: space-around;

  .containerPhoto {
    display: flex;

    z-index: 1;
    width: 320px;
    height: 480px;
    flex-direction: column;
    /* filter: blur(1px); */

    hover {
      /* filter: blur(0); */

      z-index: 1;
    }
  }
  a {
    color: rgb(26, 26, 26);
    margin: 20px;
    text-align: center;

    :hover {
      color: rgb(26, 26, 26);
      cursor: pointer;
    }
  }
}

#imgGoutte {
  min-width: 100%;
  height: 100%;
  /* background: red; */
  background: url(./img/21-01-10-lh6608.jpg) center/cover;
  box-shadow: 21px 16px 45px 5px rgba(0, 0, 0, 0.52);
}

#imgVoyage {
  min-width: 100%;
  height: 100%;
  background: url(./img/wp-1612609046614.jpg) center/cover;
  box-shadow: 21px 16px 45px 5px rgba(0, 0, 0, 0.52);
}

#imgMystère {
  min-width: 100%;
  height: 100%;
  background: url(./img/lh2510-avec-accentuation-bruit.jpg) center/cover;
  box-shadow: 21px 16px 45px 5px rgba(0, 0, 0, 0.52);
}
* .bande {
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 255, 0.1);
  display: flex;
}
