.mystere {
  h1 {
    margin: 0;
  }

  h2 {
    text-align: center;
    color: black;
    margin: 20px auto;
    font-size: 2rem;
  }

  // .presentation {
  //   width: 90%;
  //   font-size: 1.1rem;
  //   background: $color2;
  //   border-radius: 20px;
  //   padding: 20px;
  //   box-shadow: $shadow1;

  // }

  #nombreimage {
    margin: 5px;
    font-size: 1.2rem;
    text-align: center;
  }

  main {
    display: flex;
  }

  form {
    display: flex;
    flex-direction: column;


    .containerPhoto {

      border: 10px solid white;
      width: 320px;
      height: 480px;
      /* background: rgb(60, 191, 238); */
      /* background: "src:"./lh1634-2.webp"; */
      transform: translateY(-0px);


    }
  }

  // p {
  //   padding-top: 30px;
  // }

  label {
    margin: 10px;
    font-size: 1.2rem;
    text-align: center;
  }

  input {
    min-width: 300px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 1), $shadow1;

    :focus {
      border: none;
      border: 0;
    }
  }
}