nav {
  // display: flex;
  min-width: 100%;
  margin: 0 auto;
  background: transparent;
  background: $color1;
  left: 0;
  top: 0px;
  z-index: 100;
  font-family: "Merriweather", serif;
  position: fixed;
  transform: translateY(-20px);



  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    max-width: 100%;
    background: transparent;
    z-index: 100;


    img {
      height: 80x;
      width: 80px;
      filter: invert(100%);

    }

    li {
      float: left;
      width: 25%;
      text-align: center;
      position: relative;
    }

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  a {
    display: block;
    text-decoration: none;
    // color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    position: sticky;
    z-index: 100;

    &:hover {
      color: blueviolet;
      border-bottom: 2px solid blueviolet;
    }
  }

  >ul li:hover .sous {
    display: block;
  }

  .sous {
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    background: linear-gradient(to right,
        rgb(0, 117, 206) 0%,
        rgb(44, 161, 164) 75%,
        rgb(0, 117, 206) 100%);
    position: absolute;
    width: 100%;
    z-index: 100;

    li {
      float: none;
      width: 100%;
      text-align: left;
    }

    a {
      padding: 10px;
      border-bottom: none;

      &:hover {
        border-bottom: none;
        background-color: RGBa(200, 200, 200, 0.1);
      }
    }
  }

  .deroulant>a::after {
    content: " ▼";
    font-size: 12px;
    z-index: 100;

  }

  @media screen and (max-width: 400px) {
    font-size: 0.8rem;



  }
}

#navSocial {
  display: flex;

  #social {
    // padding: 2px;

    display: flex;
    width: 200px;
    right: 30px;
    // transform: translateX(25%);
    z-index: 1;


    a {
      color: black;

      i {
        height: 30px;
        width: 30px;
      }

      &:hover {
        color: blueviolet;
      }
    }

    #toggleBubbleMaker {
      width: 150px;
      color: $colorW;
    }



  }



}

/* Media query pour écrans supérieurs à 400px */
@media (min-width: 600px) {
  #navSocial {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 60px;
    /* Ajustez cette valeur selon vos besoins */
    right: 200px;

    a {

      padding: 0;
      height: 30px;


    }

  }
}

/* Icône hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
  }


}


/* Media query pour petits écrans */
@media (max-width: 600px) {
  .hamburger {
    display: flex;
  }

  nav ul {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    background-color: $color1;
    position: absolute;
    border-radius: 10px;
    top: 50px;
    left: 0;
    margin: 10px;
    padding: 10px;


    &:hover {
      z-index: 200;

    }
  }

  .sous {
    display: none;
    transform: translate(50px, -100px);
  }

  nav ul.active {
    display: flex;
    background: $color1;
  }

  nav ul li {
    width: 100%;
  }

  nav a {
    display: block;
    padding: 0.5rem;
    width: 100%;
    text-align: left;
  }

  #navSocial {
    // position: absolute;
    right: 120px;
    max-width: 150px;
    min-width: 80px;

    #social {
      display: flex;
      flex-direction: row;

      z-index: 1;

      a {
        color: black;

        i {
          width: 20px;
          height: 20px;
          margin: 0;
          padding: 0;
        }



        &:hover {
          color: blueviolet;
        }
      }
    }



  }



}