nav {
  // display: flex;
  min-width: 100%;
  margin: 0 auto;
  background: transparent;
  position: sticky;
  top: 0px;
  z-index: 100;
  font-family: "Merriweather", serif;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    max-width: 100%;
    background: transparent;
    z-index: 100;

    li {
      float: left;
      width: 25%;
      text-align: center;
      position: relative;
    }

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    position: sticky;
    z-index: 100;

    &:hover {
      color: orange;
      border-bottom: 2px solid gold;
    }
  }

  > ul li:hover .sous {
    display: block;
  }
  .sous {
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    background: linear-gradient(
      to right,
      rgb(0, 117, 206) 0%,
      rgb(44, 161, 164) 75%,
      rgb(0, 117, 206) 100%
    );
    position: absolute;
    width: 100%;
    z-index: 100;

    li {
      float: none;
      width: 100%;
      text-align: left;
    }

    a {
      padding: 10px;
      border-bottom: none;

      &:hover {
        border-bottom: none;
        background-color: RGBa(200, 200, 200, 0.1);
      }
    }
  }

  .deroulant > a::after {
    content: " ▼";
    font-size: 12px;
    z-index: 100;
  }

  @media screen and (max-width: 400px) {
    font-size: 0.8rem;
  }
}

#navSocial {
  #social {
    padding: 2px;
    display: flex;
    width: 150px;
    right: 25px;
    transform: translateX(50%);
    z-index: 1;
    a {
      color: black;
      &:hover {
        color: blueviolet;
      }
    }
  }
}

/* Styles de base pour la navigation */
// nav {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 1rem;
//   background-color: #333;
//   color: white;
// }

// nav ul {
//   list-style: none;
//   display: flex;
//   gap: 1rem;
// }

// nav ul li {
//   display: inline;
// }

// nav a {
//   text-decoration: none;
//   color: white;
//   font-weight: bold;
// }

/* Icône hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Media query pour petits écrans */
@media (max-width: 600px) {
  .hamburger {
    display: flex;
  }

  nav ul {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
    // background-color: rgba(59, 59, 59, 0.5);
    position: absolute;
    top: 60px;
    left: 0;
    padding: 1rem;
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    width: 100%;
  }

  nav a {
    display: block;
    padding: 0.5rem;
    width: 100%;
    text-align: left;
  }
}
