.gallery-container {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  flex: 1 0 25%;
  min-width: 250px;
  gap: 10px;
  padding: 20px;

  img {
    width: 90%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  }
}
.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

  img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: $shadow1;
  }

  p {
    font-size: 1.2rem;
    margin: 10px 0 5px;
    color: #333;
  }

  h3 {
    font-size: 1rem;
    color: #333;
    margin: 20px;
  }
}
.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;

  button,
  select {
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }

    select {
      font-size: 1rem;
    }
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none; /* Masqué par défaut */
  align-items: center;
  justify-content: center;
  z-index: 1000;

  -img {
    max-width: 90%;
    max-height: 90%;
    border: 2px solid white;
    border-radius: 10px;
  }
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001;

  &:hover {
    color: #f00;
  }
}
/* Conteneur du zoom */
.zoom-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
  display: none; /* Masqué par défaut */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden; /* Empêche les débordements */
}

/* Image agrandie */
.zoom-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Adapte l'image sans la déformer */
  border-radius: 8px;
  transition: transform 0.3s ease; /* Transition fluide pour l'agrandissement */
}

/* Fermeture en cliquant sur le fond */
.zoom-container:after {
  content: "✕"; /* Symbole de fermeture */
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.zoom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  border: none;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  padding: 5px;
  border-radius: 10%;
  z-index: 1001;
  width: 50px;
}

.zoom-arrow:hover {
  background: rgba(255, 255, 255, 1);
}

#prev-photo {
  left: 10px;
}

#next-photo {
  right: 10px;
}
