$color1: linear-gradient(
  to right,
  rgb(0, 117, 206) 0%,
  rgb(44, 161, 164) 50%,
  rgb(0, 117, 206) 100%
);
$shadow1: 21px 16px 45px 5px rgba(0, 0, 0, 0.52);
$textshadow1: 21px 16px 5px rgba(28, 110, 164, 0.52);

@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Handjet:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  list-style-type: none;
}

/* test  */
body {
  background: $color1;
}

h1 {
  font-family: "Bad Script", serif;
  text-align: center;
  margin: 50px auto;
  text-shadow: $textshadow1;
}

iframe {
  width: 100%;
  z-index: 1000;
  position: sticky;
  top: 0;
  height: 50px;
}
button {
  z-index: 1000;
  width: 250px;
  color: rgb(255, 255, 255);
  font-size: 21px;
  line-height: 21px;
  padding: 9px;
  margin: 20px auto;
  border-radius: 16px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.48) 10px 5px 15px 0px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
  :hover {
    background: red;
  }
}
